<p id="notice"><%= notice %></p>

<h1>Communes</h1>

<table>
  <thead>
    <tr>
      <th>Dep</th>
      <th>Depcom</th>
      <th>Commune</th>
      <th>Geo centre</th>
      <th>Geo surface</th>
      <th>Geo contour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @communes.each do |commune| %>
      <tr>
        <td><%= commune.dep %></td>
        <td><%= commune.depcom %></td>
        <td><%= commune.commune %></td>
        <td><%= commune.geo_centre %></td>
        <td><%= commune.geo_surface %></td>
        <td><%= commune.geo_contour %></td>
        <td><%= link_to 'Show', commune %></td>
        <td><%= link_to 'Edit', edit_commune_path(commune) %></td>
        <td><%= link_to 'Destroy', commune, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commune', new_commune_path %>
