<p id="notice"><%= notice %></p>

<p>
  <strong>Annee:</strong>
  <%= @donnee.annee %>
</p>

<p>
  <strong>Population:</strong>
  <%= @donnee.population %>
</p>

<p>
  <strong>Produits total:</strong>
  <%= @donnee.produits_total %>
</p>

<p>
  <strong>Prod impots locaux:</strong>
  <%= @donnee.prod_impots_locaux %>
</p>

<p>
  <strong>Prod autres impots taxes:</strong>
  <%= @donnee.prod_autres_impots_taxes %>
</p>

<p>
  <strong>Prod dotation:</strong>
  <%= @donnee.prod_dotation %>
</p>

<p>
  <strong>Charges total:</strong>
  <%= @donnee.charges_total %>
</p>

<p>
  <strong>Charges personnel:</strong>
  <%= @donnee.charges_personnel %>
</p>

<p>
  <strong>Charges achats:</strong>
  <%= @donnee.charges_achats %>
</p>

<p>
  <strong>Charges financieres:</strong>
  <%= @donnee.charges_financieres %>
</p>

<p>
  <strong>Charges contingents:</strong>
  <%= @donnee.charges_contingents %>
</p>

<p>
  <strong>Charges subventions:</strong>
  <%= @donnee.charges_subventions %>
</p>

<p>
  <strong>Resultat comptable:</strong>
  <%= @donnee.resultat_comptable %>
</p>

<p>
  <strong>Invest ressources total:</strong>
  <%= @donnee.invest_ressources_total %>
</p>

<p>
  <strong>Invest ress emprunts:</strong>
  <%= @donnee.invest_ress_emprunts %>
</p>

<p>
  <strong>Invest ress subventions:</strong>
  <%= @donnee.invest_ress_subventions %>
</p>

<p>
  <strong>Invest ress fctva:</strong>
  <%= @donnee.invest_ress_fctva %>
</p>

<p>
  <strong>Invest ress retours:</strong>
  <%= @donnee.invest_ress_retours %>
</p>

<p>
  <strong>Invest emplois total:</strong>
  <%= @donnee.invest_emplois_total %>
</p>

<p>
  <strong>Invest empl equipements:</strong>
  <%= @donnee.invest_empl_equipements %>
</p>

<p>
  <strong>Invest empl remboursement emprunts:</strong>
  <%= @donnee.invest_empl_remboursement_emprunts %>
</p>

<p>
  <strong>Invest empl charges:</strong>
  <%= @donnee.invest_empl_charges %>
</p>

<p>
  <strong>Invest empl immobilisations:</strong>
  <%= @donnee.invest_empl_immobilisations %>
</p>

<p>
  <strong>Excedent brut:</strong>
  <%= @donnee.excedent_brut %>
</p>

<p>
  <strong>Cap autofinancement:</strong>
  <%= @donnee.cap_autofinancement %>
</p>

<p>
  <strong>Cap autofinancement nette:</strong>
  <%= @donnee.cap_autofinancement_nette %>
</p>

<p>
  <strong>Dette encours total:</strong>
  <%= @donnee.dette_encours_total %>
</p>

<p>
  <strong>Dette encours bancaire:</strong>
  <%= @donnee.dette_encours_bancaire %>
</p>

<p>
  <strong>Avance tresor:</strong>
  <%= @donnee.avance_tresor %>
</p>

<p>
  <strong>Dette annuite:</strong>
  <%= @donnee.dette_annuite %>
</p>

<p>
  <strong>Fond de roulement:</strong>
  <%= @donnee.fond_de_roulement %>
</p>

<p>
  <strong>Taxe habitation:</strong>
  <%= @donnee.taxe_habitation %>
</p>

<p>
  <strong>Taxe habitation base:</strong>
  <%= @donnee.taxe_habitation_base %>
</p>

<p>
  <strong>Taxe foncier bati:</strong>
  <%= @donnee.taxe_foncier_bati %>
</p>

<p>
  <strong>Taxe foncier bati base:</strong>
  <%= @donnee.taxe_foncier_bati_base %>
</p>

<p>
  <strong>Taxe non bati:</strong>
  <%= @donnee.taxe_non_bati %>
</p>

<p>
  <strong>Taxe non bati base:</strong>
  <%= @donnee.taxe_non_bati_base %>
</p>

<p>
  <strong>Taxe add non bati:</strong>
  <%= @donnee.taxe_add_non_bati %>
</p>

<p>
  <strong>Taxe add non bati base:</strong>
  <%= @donnee.taxe_add_non_bati_base %>
</p>

<p>
  <strong>Cotis fonciere entreprises:</strong>
  <%= @donnee.cotis_fonciere_entreprises %>
</p>

<p>
  <strong>Cotis fonciere entreprises base:</strong>
  <%= @donnee.cotis_fonciere_entreprises_base %>
</p>

<p>
  <strong>Cotisation valeur ajoutee entreprises:</strong>
  <%= @donnee.cotisation_valeur_ajoutee_entreprises %>
</p>

<p>
  <strong>Impot forfait entreprise reseau:</strong>
  <%= @donnee.impot_forfait_entreprise_reseau %>
</p>

<p>
  <strong>Taxe surf commerciales:</strong>
  <%= @donnee.taxe_surf_commerciales %>
</p>

<p>
  <strong>Compensation relais 2010:</strong>
  <%= @donnee.compensation_relais_2010 %>
</p>

<p>
  <strong>Taxe professionnelle:</strong>
  <%= @donnee.taxe_professionnelle %>
</p>

<p>
  <strong>Taxe professionnelle base:</strong>
  <%= @donnee.taxe_professionnelle_base %>
</p>

<p>
  <strong>Commune:</strong>
  <%= @donnee.commune %>
</p>

<%= link_to 'Edit', edit_donnee_path(@donnee) %> |
<%= link_to 'Back', donnees_path %>
